* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: 700px;
  height: 527px;
  margin: 40px auto;
  perspective: 200px;
  position: relative;
}

.container .box-container {
  width: var(--box-width);
  height: 300px;
  position: absolute;
  transform-style: preserve-3d;
  top: calc(50% - 150px);
  left: calc(50% - var(--box-width));
  animation: box 15s linear infinite;
}

@keyframes box {
  0% {
    transform: rotateY(0turn);
  }

  100% {
    transform: rotateY(1turn);
  }
}

.container .box {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateX(var(--transformPos)) rotateY(calc((360deg / var(--num-div)) * var(--number)));
  transform-origin: calc(-1 * calc(var(--transformPos) - calc(var(--box-width) / 2))) 50%;
  transition: 0.6s;
}

.container .box div {
  width: inherit;
  height: inherit;
  transform: rotateY(90deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: var(--box-width);
}

input {
  display: none;
}

.file-input-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

.file-input-label:hover {
  background-color: #7eb2e8;
}